<form action="/add/artwork" method="post">
    <label for="">First name</label>
    <input type="text" name="firstname">
    <label for="">Last name</label>
    <input type="text" name="lastname">
    <label for="">Birth year</label>
    <input type="number" name="birth_year">
    <label for="">Death year</label>
    <input type="number" name="death_year">
    <label for="">Gender</label>
    <input type="text" name="gender">
    <label for="">Biography</label>
    <input type="text" name="biography">
    <label for="">Nationality</label>
    <input type="text" name="nationality">
    <label for="">Image URL</label>
    <input type="text" name="artist_image_url">
    <label for="">Movements</label>
    <input type="text" name="movements">
    <button>Submit</button>
</form>