<form action="/artists" method="post">
    <label for="firstname">First name</label>
    <input type="text" name="firstname">
    <label for="lastname">Last name</label>
    <input type="text" name="lastname">
    <label for="birth_year">Birth year</label>
    <input type="number" name="birth_year">
    <label for="death_year">Death year</label>
    <input type="number" name="death_year">
    <label for="gender">Gender</label>
    <input type="text" name="gender">
    <label for="biography">Biography</label>
    <input type="text" name="biography">
    <label for="nationality">Nationality</label>
    <input type="text" name="nationality">
    <label for="artist_image_url">Image URL</label>
    <input type="text" name="artist_image_url">
    <label for="movements">Movements</label>
    <input type="text" name="movements">
    <button>Submit</button>
</form>
