<h1>Edit Movement</h1>
  <form action="/movements/<%= movement.id %>/edit" method="POST">

      <label for="">Name</label>
      <input type="text" name="name" value="<%= movement.name %>">
      <label for="">Description</label>
      <input type="text" name="description" value="<%= movement.description %>">
      <label for="">Years</label>
      <input type="number" name="years" value="<%= movement.years %>">
      <br>
    <button type="submit">Update</button>
  </form>