<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtFinder</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav class="navbar">
    <!-- LOGO -->
    <div class="logo"><a href="/">ArtFinder</a></div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li class="services">
                <a href="/artists">artists</a>
                <a href="/artworks">artworks</a>
                <a href="/movements">movements</a>
            </li>

            <li><a href="/login">Log in</a></li>
        </div>
    </ul>
    </nav>


    <%- body %>
    
    <!-- <footer>&copy; 2023</footer> -->
</body>
</html>