<h2>Add</h2>

<form action="/artists" method="post">
    <label for="">First name</label>
    <input type="text" name="firstname">
    <label for="">Last name</label>
    <input type="text" name="firstname">
    <label for="">Birth year</label>
    <input type="number" name="birthyear">
    <label for="">Death year</label>
    <input type="number" name="deathyear">
    <label for="">Nationality</label>
    <input type="text" name="nationality">
    <label for="">Image of the artist</label>
    <input type="text" name="artist_image_url">
    <button>Submit</button>
</form>

<form action="/artworks" method="post">
    <label for="">First name</label>
    <input type="text" name="firstname">
    <label for="">Last name</label>
    <input type="text" name="firstname">
    <label for="">Birth year</label>
    <input type="number" name="birthyear">
    <label for="">Death year</label>
    <input type="number" name="deathyear">
    <label for="">Nationality</label>
    <input type="text" name="nationality">
    <label for="">Image of the artist</label>
    <input type="text" name="artist_image_url">
    <button>Submit</button>
</form>

<form action="/movements" method="post">
    <label for="">First name</label>
    <input type="text" name="firstname">
    <button>Submit</button>
</form>
